process {

    withName:FASTQC {
        container = 'bryoinformatics/fastqc'
    }
	
	withName:TRIM {
    container = 'bryoinformatics/trim_galore'
    }
	
	withName:FASTQC_TRIM {
        container = 'bryoinformatics/fastqc'
    }
	
    withName:INDEX {
        container = 'bryoinformatics/salmon'
    }
	
    withName:QUANT {
        container = 'bryoinformatics/salmon'
    }
}

singularity.enabled = true